
{% extends 'base.html.twig' %}

{% block title %}Create new Artist{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #2e1a47;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        .wrapper {
            max-width: 550px;
            border-radius: 10px;
            margin: 50px auto;
            padding: 30px;
            background-color: rgb(236, 225, 253);
            box-shadow: 0 0 20px rgba(123, 46, 232, 0.1);
        }

        .h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 2.2rem;
            font-weight: bold;
            color: #5d4587;
            text-shadow: 0 0 4px #2e1a47;
            margin-bottom: 10px;
        }

        .form-group {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        label {
            font-weight: 500;
            color: #7b2ee8;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        textarea {
            border: none;
            border-bottom: 2px solid #7b2ee8;
            background-color: transparent;
            border-radius: 0;
            padding: 8px 6px;
            width: 100%;
            font-size: 1rem;
            transition: border-color 0.3s ease;
        }

        input:focus,
        textarea:focus {
            outline: none;
            border-color: #7b2ee8;
            box-shadow: 0 1px 5px rgba(123, 46, 232, 0.2);
        }

        .btn-back {
            display: inline-block;
            margin: 20px auto 0;
            color: #6f42c1;
            border: 1px solid #6f42c1;
            padding: 4px 16px;
            border-radius: 20px;
            text-decoration: none;
            transition: background-color 0.3s;

        }

        .btn-back:hover {
            background-color: #f3e6f5;
        }

        .btn-back {
            display: inline-block;
            margin: 20px auto 0;
            color: #6f42c1;
            border: 1px solid #6f42c1;
            padding: 4px 16px;
            border-radius: 20px;
            text-decoration: none;
            transition: background-color 0.3s;

        }


    </style>

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('app_homepage') }}"
           class="btn btn-outline-light me-3"
           style="border-radius: 25px"
        >
            Homepage
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('new_user') }}"
               class="btn btn-outline-light me-3"
               style="border-radius: 25px" >
                New User
            </a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('user_profile') }}"
               class="btn btn-outline-light me-3"
               style="border-radius: 25px" >
                Your Profile
            </a>

        {% else %}
            <a href="{{ path('app_login') }}"
               class="btn btn-outline-light me-3"
               style="border-radius: 25px" >
                Your Profile
            </a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_logout') }}"
               class="btn btn-outline-light me-3"
               style="border-radius: 25px" >
                Log out
            </a>
        {% else %}
            <a href="{{ path('app_login') }}"
               class="btn btn-outline-light me-3"
               style="border-radius: 25px" >
                Log in
            </a>
        {% endif %}

    </div>

    <div class="wrapper bg-white">
        <div class="text-start mb-3">
            <a href="{{ path('all_festivals') }}" class="btn btn-back">Back to list</a>
        </div>
        <div class="h2 text-center">Buy Ticket</div>

        <div
            style="
            margin-bottom: 1.5rem;
             font-weight: 600;
              color: #43166a;">

            Info about:
            <a href="{{ path('all_festivals') }}"
               class="btn btn-outline-secondary ms-3"
               style="border-radius: 25px; color: #43166a;
                font-weight: 600;">
                Festivals
            </a>
            <a href="{{ path('all_tickets') }}"
               class="btn btn-outline-secondary ms-2"
               style="border-radius: 25px; color: #43166a;
                font-weight: 600;">
                Tickets
            </a>
        </div>


        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.festival) }}
            {{ form_widget(form.festival, {'attr': {'style': 'border-radius: 8px; border: 2px solid #5d4587;padding: 8px 10px;width: 100%;' }}) }}
            {{ form_errors(form.festival) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ticket) }}
            {{ form_widget(form.ticket, {'attr': {'style': 'border-radius: 8px; border: 2px solid #5d4587;padding: 8px 10px;width: 100%;' }})}}
            {{ form_errors(form.ticket) }}
        </div>

        <div class="form-group text-center mt-3">
            {{ form_row(form.save,{'attr': {'style': 'border-radius: 8px; border: 2px solid #7b2ee8;padding: 8px 10px;' }}) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
