{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

        body {
            background-color: #2e1a47;
            font-family: 'Poppins', sans-serif;
            color: #ddd;
        }

        .card-mov {
            background-color: #3b2a6d;
            color: #e0d9ff;
            border-radius: 12px;
            border: none;
            box-shadow: 0 8px 20px rgba(59, 42, 109, 0.6);
            /*transition: transform 0.3s ease, box-shadow 0.3s ease;*/
            text-align: center;
        }

        .card-mov:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 30px rgba(154, 78, 241, 0.8);
        }

        .card-title {
            font-weight: 600;
            font-size: 1.4rem;
            margin-bottom: 0.3rem;
            color: #d4cfff;
        }

        .card-text {
            font-size: 1rem;
            margin-bottom: 1.2rem;
            color: #bfb7ff;
        }

        .btn-danger {
            background-color: #7b2ff7;
            border-color: #7b2ff7;
            font-weight: 600;
            border-radius: 30px;
            padding: 0.4rem 1.2rem;
            transition: background-color 0.3s ease;
        }

        .btn-danger:hover, .btn-danger:focus {
            background-color: #9a4ef1;
            border-color: #9a4ef1;
            box-shadow: 0 0 8px #9a4ef1;
        }

        .pagination {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            margin-top: 2rem;
            font-weight: 600;
        }

        .pagination a,
        .pagination span {
            background-color: #3b2a6d;
            color: #d4cfff;
            border-radius: 8px;
            padding: 0.4rem 0.9rem;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .pagination a:hover {
            /*background-color: #7b2ff7;*/
            color: white;
            box-shadow: 0 0 8px #7b2ff7;
        }


        .btn-sm.w-100 {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            font-size: 0.9rem;
        }

        .btn-custom {
            border-radius: 25px;
            padding: 0.4rem 0.9rem;
            color: #d4cfff;
            border-color: #d4cfff;
        }

        .btn-custom:hover {
            background-color: rgba(212, 207, 255, 0.1);
            color: #ffffff;
            border-color: #d4cfff;
        }



    </style>

    <div class="container mt-4">

        <div class="d-flex justify-content-end mb-3">
            <a href="{{ path('app_homepage') }}"
               class="btn btn-outline-light btn-custom me-3" >
                Homepage
            </a>

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('new_artist') }}"
               class="btn btn-outline-light btn-custom me-3" >
                New Artist
            </a>
            {% endif %}

            {% if not is_granted('ROLE_ADMIN') %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                <a href="{{ path('buy_ticket_by_user_id') }}"
                   class="btn btn-outline-light btn-custom me-3"
                style="border-color: #e6965c; color: #edbd78">
                    Buy Ticket
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="btn btn-outline-light btn-custom me-3" >
                    Buy Ticket
                </a>
            {% endif %}
            {% endif %}

            {% if not is_granted('ROLE_ADMIN') %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('user_profile') }}"
                   class="btn btn-outline-light btn-custom me-3">
                    Your Profile
                </a>

            {% else %}
                <a href="{{ path('app_login') }}"
                   class="btn btn-outline-light btn-custom me-3">
                    Your Profile
                </a>
                {% endif %}
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_logout') }}"
               class="btn btn-outline-light btn-custom me-3">
                Log out
            </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="btn btn-outline-light btn-custom me-3">
                    Log in
                </a>
            {% endif %}

        </div>

        <h1 class="mb-5 text-center" style="color:#d4cfff;">Meet all of our artists!</h1>

        <form method="get" action="{{ path('all_artists') }}" class="mb-4 d-flex justify-content-center">
            <input
                type="text"
                name="search"
                value="{{ search|default('') }}"
                placeholder="Search by artist name..."
                class="form-control w-50 me-2"
                style="border-radius: 25px;"
            >
            <button type="submit" class="btn btn-outline-light" style="border-radius: 25px;">
                Search
            </button>
        </form>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for artist in pagination %}
                <div class="col">
                    <div class="card h-100 card-mov"
{#                         style="#}
{#                             background-image:#}
{#                             linear-gradient(to top, rgba(46,26,71,0.9), rgba(46,26,71,0.2)),#}
{#                             url('{{ artist.image ? asset(artist.image) : 'https://media.istockphoto.com/id/1204187820/photo/abstract-purple-backgrounds.jpg?s=612x612&w=0&k=20&c=Tn2MdAfR3AgwYAy1Qs-XxKao6hhPXyik8pDSuU5gP2Y=' }}');#}
{#                             background-size: cover;#}
{#                             background-position: center;#}
{#                             background-repeat: no-repeat;"#}
                    >
                        <div class="card-body d-flex flex-column justify-content-center">

                            <h5 class="card-title">
                                <a href="{{ path('one_artist', {'id': artist.id}) }}" style="color: #7b2ff7;">
                                    {{ artist.name }}
                                </a>
                            </h5>
                            <p class="card-text">Genre: {{ artist.genre }}</p>

                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('edit_artist', {'id': artist.id}) }}" class="btn btn-outline-light" style="border-radius: 25px" >
                                Edit Artist
                            </a>


                            {#button trigger modal#}
                            <button type="button"
                                    class="btn btn-danger btn-sm w-100 mt-auto"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal{{ artist.id }}">
                                Delete
                            </button>

                            {% endif %}

                        </div>
                    </div>

                    {#modal#}
                    <div class="modal fade"
                         id="deleteModal{{ artist.id }}"
                         tabindex="-1"
                         aria-labelledby="deleteModalLabel{{ artist.id }}"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <form action="{{ path('delete_artist', {'id': artist.id}) }}" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ artist.id }}">
                                            Are you sure you want to delete the following artist?
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <strong>{{ artist.name }}</strong>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"  style="border-radius: 25px" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">No artists found.</p>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
