{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Meet all of our artists!</h1>
{#    <h3> {% for artist in artists %}#}
{#            <h4>{{ artist.name }}</h4>#}
{#            <h5>{{ artist.getGenre() }}</h5>#}
{#        {% endfor %}</h3>#}

    <ul>
        {% for artist in pagination %}
            <li>
                <strong>{{ artist.name }}</strong><br>
                Genre: {{ artist.genre }}
            </li>
        {% else %}
            <li>No artists found.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
