{% extends 'base.html.twig' %}

{% block title %}Hello ArtistController!{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #2e1a47;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
        .example-wrapper {
            margin: 2em auto;
            max-width: 700px;
            border-radius: 10px;
            background-color: rgb(236, 225, 253);
            padding: 2rem;
            box-shadow: 0 0 15px rgba(111, 66, 193, 0.3);
        }
        .btn-container {
            display: flex;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;
            margin-top: 1.5rem;
        }

        .btn-danger {
            border-radius: 20px;
            /*padding:  1.5rem;*/
            background-color: #6f42c1;
            border-color: #6f42c1;
        }

        .btn-danger:hover {
            background-color: #9a4ef1;
            border-color: #9a4ef1;
        }

        .modal-content {
            border: 2px solid #6f42c1;
            border-radius: 12px;
        }

        .modal-header {
            background-color: #f3e6f5;
        }

        .btn-back {
            display: inline-block;
            margin: 20px auto 0;
            color: #6f42c1;
            border: 1px solid #6f42c1;
            padding: 4px 16px;
            border-radius: 20px;
            text-decoration: none;
            transition: background-color 0.3s;

        }

        .btn-back:hover {
            background-color: #f3e6f5;
        }

        .artist-image {
            width: 50%;
            max-width: 400px;
            height: auto;
            border-radius: 15px;
            margin-bottom: 1.5rem;
            box-shadow: 0 4px 15px rgb(67, 22, 106);
            border: 3px solid #43166a;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        .social-links .social-icon {
            font-size: 1.8rem;
            color: #5e2ca5;
            margin: 0 0.5rem;
            transition: color 0.3s, transform 0.3s;
            text-decoration: none;
        }

        .social-links .social-icon:hover {
            color: #9a4ef1;
            transform: scale(1.2);
        }



    </style>

    <div class="example-wrapper">
        <div class="text-start mb-3">
            <a href="{{ path('all_artists') }}" class="btn-back">Back to list</a>
        </div>
        <h2 style="color: #4f0e88; align-content: center;" >{{ artist.name }}</h2>
        {% if artist.image %}
            <img
                src="{{ asset(artist.image) }}"
                alt="Artist Image"
                class="artist-image">
        {% else %}
            <img
                src="https://images.unsplash.com/photo-1502056618377-f15b18d813b7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNpbmdlcnN8ZW58MHx8MHx8fDA%3D"
                alt="Artist Image"
                class="artist-image">
        {% endif %}

        <div class="text-center my-4">
            <h4 class="text mb-3" style="color: #43166a;">
                Genre: {{ artist.genre }}</h4>
            </h4>
        </div>


<div class="social-links text-center mt-4">

            <a href="https://instagram.com"  target="_blank" class="social-icon" aria-label="Instagram" >
                <i class="bi bi-instagram fs-4"></i>
            </a>
            <a href="https://spotify.com"  target="_blank" class="social-icon" aria-label="Spotify">
                <i class="bi bi-spotify fs-4"></i>
            </a>

        </div>

        <a href="{{ path('show_artist_schedule', {'id': artist.id}) }}"
           class="btn-back"
           style="border-radius: 25px"
        >
            See Schedule
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <div>
        <a href="{{ path('edit_artist', {'id': artist.id}) }}" class="btn-back" style="border-radius: 25px" >
            Edit Artist
        </a></div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
{#            button trigger modal#}
            <div class="btn-container">
                <button type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal{{ artist.id }}">
                    Delete
                </button>

                {% endif %}


            </div>

{#            modal#}
            <div class="modal fade"
                 id="deleteModal{{ artist.id }}"
                 tabindex="-1"
                 aria-labelledby="deleteModalLabel{{ artist.id }}"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <form action="{{ path('delete_artist', {'id': artist.id}) }}" method="post">

                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="deleteModalLabel{{ artist.id }}">Are you sure you want to delete the following artist?</h5>

                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <strong>{{ artist.name }}</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style="border-radius: 20px;" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>



{#            <form action="{{ path(name='delete_artist', parameters={id:artist.id},relative=false) }}"#}
{#                  method="post"#}
{#                  data-confirmation="true"#}
{#                  id="delete-form">#}

{#                <button type="submit" class="btn btn-block btn-danger">Delete</button>#}
{#            </form>#}


        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">





    </div>
{% endblock %}
