{% extends 'base.html.twig' %}

{% block title %} List{% endblock %}

{% block body %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

        body {
            background-color: #2e1a47;
            font-family: 'Poppins', sans-serif;
            color: #ddd;
        }

        .card {
            background-color: #3b2a6d;
            color: #e0d9ff;
            border-radius: 12px;
            border: none;
            box-shadow: 0 8px 20px rgba(59, 42, 109, 0.6);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: center;
        }

        .card:hover {
            transform: translateY(-8px);
            box-shadow: 0 12px 30px rgba(154, 78, 241, 0.8);
        }


        .card-text {
            font-size: 1rem;
            margin-bottom: 1.2rem;
            color: #bfb7ff;
        }



    </style>

    <div class="container mt-4">
        <div class="d-flex justify-content-end mb-3">
            <a href="{{ path('app_homepage') }}"
               class="btn btn-outline-light me-3"
               style="border-radius: 25px"
            >
                Homepage
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('new_user') }}"
                   class="btn btn-outline-light me-3"
                   style="border-radius: 25px" >
                    New User
                </a>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('user_profile') }}"
                   class="btn btn-outline-light me-3"
                   style="border-radius: 25px" >
                    Your Profile
                </a>

            {% else %}
                <a href="{{ path('app_login') }}"
                   class="btn btn-outline-light me-3"
                   style="border-radius: 25px" >
                    Your Profile
                </a>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('app_logout') }}"
                   class="btn btn-outline-light me-3"
                   style="border-radius: 25px" >
                    Log out
                </a>
            {% else %}
                <a href="{{ path('app_login') }}"
                   class="btn btn-outline-light me-3"
                   style="border-radius: 25px" >
                    Log in
                </a>
            {% endif %}

        </div>

        <h1 class="mb-5 text-center"
            style="color:#d4cfff;">Your tickets</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for purchase in purchases %}

                <div class="col">
                    <div class="card h-100 card-mov">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <p class="card-text">
                                Festival:
                                <a style="color:#bfb7ff" href="{{path('show_festival', {'id':purchase.festival.id}) }}">
                                    {{ purchase.festival.name }}</a> </p>
                            <p class ="card-text" > Date: {{ purchase.festival.startDate|date('Y-m-d') }} : {{ purchase.festival.endDate|date('Y-m-d') }}</p>
                            <p class="card-text">
                                Ticket Type:
                                <a style="color:#bfb7ff" href="{{ path('show_ticket', {'id':purchase.ticket.id}) }}">
                                    {{ purchase.ticket.type }}</a> </p>
                            <p class="card-text"> Price: {{ purchase.ticket.price }} lei</p>

                        </div></div></div>

            {% else %}
                <p>Nothing found.</p>
            {% endfor %}

        </div>


    </div>
{% endblock %}
